<%- include('parts/top.ejs') %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container text-center">
    <div class="row">
      <div class="col">
        <img src="/uploads/<%= thebook.image%>" alt="">
      </div>
      <div class="col">
    <h1><%= thebook.title%></h1>
    <h4><%= thebook.author%></h4>
    <span><%= thebook.price%></span>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Atque aspernatur perspiciatis vitae? Id vel asperiores laborum! 
        Ipsa deleniti excepturi rem alias voluptas, 
        est impedit quidem, eligendi porro quam ea nulla!</p>

      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

<%- include('parts/bottom.ejs') %>